.ir-nav-top {
	background-color: var(--dark);
	color: var(--white);
}

.ir-nav-top .navbar{
	padding:0;
}

.ir-nav-top a{
	color: var(--white);
}

.ir-footer{
	background-color: var(--dark);
	color: var(--white);
	margin-top:3em;
}
.ir-footer a{
	color:white;
}
.ir-footer ul {
    list-style: none;
    padding-inline-start: 0;
}

.ir-footer h5 {
	border-bottom:1px solid var(--white);
}